In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
from matplotlib import pyplot as plt

In [2]:
mydata=pd.read_excel(r"C:\Users\student\Desktop\DataSet1\Cricket_Data.xlsx")

In [3]:
mydata

    Mat  Inns  Runs    Ave      SR
0    58   104  4154  41.95   51.49
1   147   143  5238  39.68   85.25
2    71   122  6147  53.92   58.22
3   211   203  9779  58.20   92.12
4    62    58  2102  48.88  136.22
..  ...   ...   ...    ...     ...
70   77    71  1825  37.24  124.31
71   62   105  4809  49.57   46.90
72   25    43  1479  39.97   55.14
73  183   177  6748  44.98   87.18
74   84    77  2086  32.59  137.05

[75 rows x 5 columns]

In [4]:
X_feature=mydata.iloc[:,0:4]

In [5]:
X_feature

    Mat  Inns  Runs    Ave
0    58   104  4154  41.95
1   147   143  5238  39.68
2    71   122  6147  53.92
3   211   203  9779  58.20
4    62    58  2102  48.88
..  ...   ...   ...    ...
70   77    71  1825  37.24
71   62   105  4809  49.57
72   25    43  1479  39.97
73  183   177  6748  44.98
74   84    77  2086  32.59

[75 rows x 4 columns]

In [6]:
def Rel(f1, f2, data):
    sb.lmplot(f1, f2, data=data, fit_reg=True, scatter_kws={"s":40})
    plt.title("Corr plot between {} amd {}".format(f1,f2))
    plt.xlabel(f1)
    plt.ylabel(f2)
    plt.show()

In [7]:
corr between Mat vs Inns
Rel("Mat", "Inns", X_feature)

SyntaxError: invalid syntax (<ipython-input-7-ff42e1a0d6e0>, line 1)

In [ ]:
corrWith("Mat", "Runs", X_feature)

In [ ]:
corrWith("Runs", "Inns", X_feature)

In [ ]:
XA_feature=X_feature.values

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
k=3

In [ ]:
k_Clusetr=KMeans(n_clusters=k).fit(XA_feature)

In [ ]:
kValue=k_Clusetr.cluster_centers_
print("value of means {}")

In [ ]:
X_feature.head()

In [ ]:
kValue[0].tolist()

In [ ]:
ColName=X_feature.columns.tolist()
pd.DataFrame([kValue[0].tolist(),kValue[1].tolist(), kValue[1].tolist()], index=["c1", "c2", "c3"],columns=ColName)

In [ ]:
ColName

In [ ]:
X_feature["Cluster"]=k_Clusetr.labels_

In [ ]:
X_feature

In [ ]:
def Relnew(f1, f2, data , huevalue="No"):
    if huevalue=="No":
        sb.lmplot(f1, f2,data=data,fit_reg=False,scatter_kws={"s":40})
        plt.title("Corr plot between {} amd {}".format(f1,f2))
        plt.xlabel(f1)
        plt.ylabel(f2)
        plt.show()
    else:
        sb.lmplot(f1, f2, data=data, fit_reg=False, scatter_kws={"s":40},hue=huevalue)
        plt.title("Corr plot between {} amd {}".format(f1,f2))
        plt.xlabel(f1)
        plt.ylabel(f2)
        plt.show()

In [ ]:
Relnew("Runs", "Inns",  X_feature , huevalue="Cluster")

In [ ]:
k=range(1,10)

In [ ]:
wssErrorList=[]
for i in k:
    KmeanCluster=KMeans(n_clusters=i)
    KMeanCluster=KmeanCluster.fit(XA_feature)
    wssError=KmeanCluster.inertia_
    wssErrorList.append(wssError)
   # print("Number of Cluster is {} ans wss is ()").format(i, wssError)

In [ ]:
plt.plot(k, wssErrorList, 'bx-')
plt.xlabel("k Value")
plt.ylabel("Sum of with in cluster error")
plt.title("Elow method for finding Number Cluster")
plt.show()